[build]
  command = "npm install && npm run build"
  publish = "dist/medical-store-pos/browser"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[build.environment]
  NODE_VERSION = "18"

